<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.educoin.transaction.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="team.educoin.transaction.pojo.UserInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="account_balance" property="accountBalance" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, email, account_balance
  </sql>
  <select id="selectAllUser"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
  </select>
</mapper>