<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
</head>
<body>
<form action="/service/registService" method="post" enctype="multipart/form-data">
    资源标题:<input type="text" name="fileTitle"/></br>
    资源展示图片:<input type="text" name="fileImage"/></br>
    资源描述:<input type="text" name="fileDescription"/></br>
    资源阅读权价:<input type="text" name="fileReadPrice"/></br>
    资源所有权价:<input type="text" name="fileOwnerShipPrice"/></br>
    资源关键字：<input type="text" name="fileKeyWord"/></br>
    资源内容类型：<input type="text" name="fileContentType"/></br>
    用户邮箱：<input type="text" name="fileInitialProvider"/></br>
    选择文件：<input type="file" name="file"/></br>
    <button type="submit">Submit</button>
</form>
</body>
</html>