<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body style="background: url(/images/ee649b6dffd0d1eb103f174721d4ddcf.jpg);width: 1000px;height: 800px;background-repeat:no-repeat;">
<div>
    <form action="/userInfo/userLogin" method="post">
        <div style="height: 428px; width: 400px; margin-left: 400px; margin-top: 200px; background: #fff;">
            <div style="height: 100px;width: 400px;background: #3eb6e8;">请输入用户名与密码登录<br></div>
            用户名：<input type="text" name="username"/><br>
            密&nbsp;&nbsp;&nbsp;码：<input type="password" name="password"/><br>
            <input type="submit" value="登录"/>
            <!-- target="_blank"加上则可以打开新的窗口，不加则覆盖当前页面 -->
            <a href="/userInfo/register" target="_blank">注册</a>
        </div>
    </form>
</div>
</body>
</html>